@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 20px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --text-color: #000000;
    --bg-color: #FFFFFF;
    --cor-destaque: #28b4bc;
}

body {
    background-color: var(--bg-color);
}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    box-shadow: -5px 2px 20px rgba(0,0,0,0.2);
}

nav {
    display: flex;
    gap: 50px;
    & a {
        font-size: 0.9rem;
        color: var(--text-color);
        transition: 0.1s;
        &:hover {
            color: var(--cor-destaque);
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    & h1 {
        font-size: 1.2rem;
        font-weight: 300;
        color: var(--text-color);
    }
}

.logo {
    width: 28px;
}

.sec-banner {
    position: relative;
    display: flex;
    height: 850px;
    width: 100%;
    overflow: hidden;
    & h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        font-size: 1.6rem;
        letter-spacing: 6px;
        text-align: center;
        font-weight: 100;
        color: white;
        z-index: 2;
    }
}

.over-display {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 1;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec-sobre {
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 620px;
    justify-content: center;
    & p {
        line-height: 1.5rem;
        font-size: 0.9rem;
        text-align: center;
    }
    & span{       
        font-size: 0.9rem;
        font-weight: 600;
        color: var(--cor-destaque);
    }
}

.sec-galeria {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


.galeria-item {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 25%;
    overflow: hidden;
    transition: scale 0.3s;
    padding-bottom: 30px;
    &:hover {
        z-index: 2;
        scale: 1.05;
    }
}

.galeria-img {
    width: 100%;
    overflow: hidden;
}

.galeria-descricao {
    font-size: 1.1rem;
}

.galeria-categoria {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: var(--cor-destaque);
}

.galeria-local {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.sec-form {
    padding: 70px;
    display: flex;
    align-items: center;
    gap: 50px;
    & h2 {
        font-size: 1.4rem;
    }
    & img {
        width: 500px;
    }
    & form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        & input, textarea {
            font-size: 0.8rem;
            padding: 3px 5px;
            width: 380px;
            border: 1px solid rgba(0,0,0,0.3);
            border-radius: 6px;
            outline: none;
            resize: none;
        }
        & button {
            border: none;
            align-self: flex-end;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            color: var(--bg-color);
            background-color: var(--cor-destaque);
            border-radius: 40px;
            padding: 5px 15px;
            letter-spacing: 1px;
            transition: scale 0.2s;
            &:hover {
                scale: 1.1;
            }
        }
    }
}

footer {
    padding: 50px;
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    & h3 {
        color: var(--bg-color);
        font-size: 1.5rem;
    }
}

.div-pai-contato {
    display: flex;
    gap: 80px;
}

.div-contato {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.div-contatinho {
    display: flex;
    gap: 7px;
    & p {
        color: var(--bg-color);
        font-size: 0.8rem;
    }
    & i {
        color: var(--bg-color);
        font-size: 1rem;
    }
}

#text-formulario-enviado {
    position: absolute;
    font-size: 0.9rem;
    bottom: 5px;
}

#div-overlay {
    display: none;
    position: absolute;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;
    & i {
        cursor: pointer;
        font-size: 1.6rem;
        color: white;
    }
    & img {
        width: auto;
        height: 90%;
    }
    & div {
        width: 95%;
        display: flex;
        justify-content: space-between;
        position: absolute;
    }
}

.fa-x {
    position: absolute;
    top: 20px;
    right: 40px;
}