@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 20px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

i {
    outline: none;
}

:root {
    --text-color: #111111;
    --bg-color: #FFFFFF;
    --cor-destaque: #28b4bc;
}

body {
    background-color: var(--bg-color);
    margin-top: 75px;
}

header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    box-shadow: -5px 2px 20px rgba(0,0,0,0.2);
}

nav {
    display: flex;
    gap: 50px;
    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        text-align: center;
        color: var(--text-color);
        transition: 0.1s;
        &:hover {
            color: var(--cor-destaque);
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    & h1 {
        font-size: 1.2rem;
        font-weight: 300;
        color: var(--text-color);
    }
}

.logo {
    width: 28px;
}

.sec-banner {
    position: relative;
    display: flex;
    height: 850px;
    width: 100%;
    overflow: hidden;
    background-image: url(../img/banner.svg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    & h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        font-size: 1.6rem;
        letter-spacing: 6px;
        text-align: center;
        font-weight: 100;
        color: white;
        z-index: 2;
    }
}

.over-display {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.78);
    z-index: 1;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec-sobre {
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 620px;
    justify-content: center;
    & p {
        line-height: 1.5rem;
        font-size: 0.9rem;
        text-align: center;
    }
    & span{       
        font-size: 0.9rem;
        font-weight: 600;
        color: var(--cor-destaque);
    }
}

.sec-galeria {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


.galeria-item {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 25%;
    overflow: hidden;
    transition: scale 0.3s;
    padding-bottom: 20px;
    background-color: var(--bg-color);
    &:hover {
        z-index: 2;
        scale: 1.07;
    }
}

.galeria-img {
    width: 100%;
    overflow: hidden;
}

.galeria-descricao {
    font-size: 1.1rem;
    text-align: center;
}

.galeria-categoria {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: var(--cor-destaque);
}

.galeria-local {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.sec-form {
    background-color: var(--bg-color);
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    & h2 {
        font-size: 1.4rem;
        color: var(--text-color);
    }
    & img {
        width: 500px;
    }
    & form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        & input, textarea {
            font-size: 0.8rem;
            padding: 3px 5px;
            width: 380px;
            border: 1px solid rgba(0,0,0,0.3);
            border-radius: 6px;
            outline: none;
            resize: none;
        }
        & button {
            border: none;
            align-self: flex-end;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            color: var(--bg-color);
            background-color: var(--cor-destaque);
            border-radius: 40px;
            padding: 5px 15px;
            letter-spacing: 1px;
            transition: scale 0.2s;
            &:hover {
                scale: 1.1;
            }
        }
    }
}

#text-formulario-enviado {
    color: var(--text-color);
    position: absolute;
    font-size: 0.9rem;
    bottom: 5px;
}

footer {
    padding: 50px;
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    & h3 {
        color: var(--cor-destaque);
        font-size: 1.4rem;
        text-align: left;
    }
}

.div-pai-contato {
    display: flex;
    gap: 80px;
}

.div-contato {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.div-contatinho {
    display: flex;
    gap: 7px;
    & p {
        color: var(--bg-color);
        font-size: 0.8rem;
    }
    & i {
        color: var(--bg-color);
        font-size: 1rem;
    }
}

#div-overlay {
    display: none;
    position: absolute;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;
    & i {
        cursor: pointer;
        font-size: 1.8rem;
        color: white;
    }
    & img {
        width: auto;
        height: 90%;
    }
    & .div-setas {
        width: 95%;
        display: flex;
        justify-content: space-between;
        position: absolute;
    }
}

.fa-xmark {
    position: absolute;
    top: 20px;
    right: 40px;
}


@media (max-width: 1025px) {
    * {
        font-size: 18px;
    }
    .galeria-item {
        width: 33%;
        padding-bottom: 40px;
    }
    .galeria-descricao {
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 55px;
    }
    .sec-form {
        gap: 30px;
        & img {
            width: 380px;
        }
        & form {
            width: 340px;
            & input, textarea {
                width: 340px;
            }
        }
    }
}

@media (max-width: 769px) {
    * {
        font-size: 16px;
    }
    .sec-sobre p {
        width: 500px;
    }
    .sec-form {
        & img {
            width: 350px;
        }
        & form {
            width: 300px;
            & input, textarea {
                width: 300px;
            }
        }
    }
    .fa-xmark {
        right: 25px;
    }
    .sec-banner {
        background-position: 40%;
    }
}

@media (max-width: 426px) {
    header {
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
    body {
        margin-top: 105px;
    }
    nav {
        width: 100%;
        gap: 30px;
        justify-content: center;
        align-items: center;
        & a {
            font-size: 0.9rem;
        }
    }
    .sec-banner {
        height: 760px;
        & h2 {
            width: 80%;
        }
    } 
    .sec-sobre {
        padding: 70px 0;
        & p, span {
            width: 80vw;
            font-size: 0.95rem;
        }
    } 
    .galeria-item {
        gap: 25px;
        width: 100%;
        padding-bottom: 30px;
    }
    .galeria-descricao {
        min-height: 0;
    }
    .sec-form {
        & img {
            display: none;
        }
        & form {
            width: 330px;
            gap: 30px;
            & button:hover{
                scale: 1;
            }
            & input, textarea {
                width: 100%;
            }
        }
    }
    .div-pai-contato {
        flex-direction: column;
        gap: 10px;
    }
    #div-overlay {
        & img {
            width: 90%;
            height: auto;
        }
        i {
            font-size: 1.6rem;
        }
        & .div-setas {
            justify-content: center;
            gap: 80px;
            position: absolute;
            bottom: 190px;
        }
    }
    #text-formulario-enviado {
        font-size: 0.85rem;
        bottom: 6px;
    }
    footer {
        & h3 {
            width: 230px;
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 375px) {
    #div-overlay {
        & .div-setas {
            bottom: 220px;
        }
    }
}

@media (max-width: 340px) {
    .sec-form {
        & h2 {
            font-size: 1.32rem;
        }
        & form {
            width: 280px;
            & input, textarea {
                width: 280px;
            }
        }
    }
    
    #text-formulario-enviado {
        font-size: 0.8rem;
    }

    #div-overlay {
        & .div-setas {
            bottom: 240px;
        }
    }
}